@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    [data-sonner-toaster][data-sonner-toaster] li {
        font-family: Toss Product Sans, serif;
        font-size: 14px;
        white-space: pre-wrap;
    }

    [data-sonner-toast] [data-title] {
        font-weight: 500 !important;
    }
}

.text-stroke-3 {
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.notion {
    font-family: 'Toss Product Sans', serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

.notion-app {
    --tw-bg-opacity: 1 !important;
    background-color: hsl(var(--nextui-background) / var(--nextui-background-opacity, var(--tw-bg-opacity))) !important;
}

.notion-full-width {
    padding: 0 !important;
}
